---
import "../styles/navbar.css";
---

<header
    x-data="{ show: false }"
  x-init="
    const heroLogo = document.querySelector('.hero-logo');
    const observer = new IntersectionObserver(([entry]) => {
      show = !entry.isIntersecting; // 👈 si el logo ya no se ve → aparece el navbar
    }, { threshold: 0.1 });
    observer.observe(heroLogo);
  "
  :class="show ? 'navbar-visible' : 'navbar-hidden'"
  class="custom-navbar"
>
    <div class="container px-1 custom-navbar-content">
        <h1 class="logo">
            <a href="/" class="logo-link">
                <img src="images/logo.webp" alt="Hostal Acuarius" class="logo-img" />
            </a>
        </h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/habitaciones">Habitaciones</a>
            <a href="/contacto">Nosotros</a>
        </nav>
        <a href="/reserva" class="btn-banderola">Reserva</a>
    </div>
</header>



