---
import "../styles/navbar.css";
---

<header
    x-data="{ opacity: 0 }"
    x-init="
        const heroHeight = document.querySelector('.hero').offsetHeight;
        window.addEventListener('scroll', () => {
            opacity = Math.min(window.scrollY / heroHeight, 1);
        });
    "
    :style="`background: rgba(0,0,0,${opacity})`"
    class="navbar"
>
    <div class="container navbar-content">
        <h1 class="logo">
            <a href="/" class="logo-link">
                <img src="images/logo.webp" alt="Hostal Acuarius" class="logo-img" />
            </a>
        </h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/habitaciones">Habitaciones</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </div>
</header>



